<a href="https://colab.research.google.com/github/Maxoouuu/H3Python/blob/master/Analyse_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualisation Statistiques descriptives

Drive Data : https://drive.google.com/drive/folders/1GCWcIvE3ZipWiV8567CswTNUaNzce3sT

## Visualisation d’un nuage de points et exploration des variables



```
Pour cette partie, nous allons utiliser le dataset suivante : house_pricing.csv que vous pouvez
trouver dans le dossier Data Sources. Nous allons tenter de comprendre un peu mieux ce
dataset par la visualisation
1) Importez les librairies qu’il nous faut (pandas, seaborn, matplotlib, numpy)
2) Donnez la liste des variables présentes dans ce dataset ainsi que leur nature (sont elles
qualitatives, quantitatives, discrète etc...) et leur type (float, int, str etc...)
3) En créant un nuage de points, regardez comment se comporte la colonne LotArea par
rapport au SalesPrices
4) Affinez votre visualisation en ne gardant uniquement les maisons qui ont un LotArea
inférieur à 20 000 pieds carrés et un prix inférieur à 500 000$
5) En créant un nuage de points, regardez la relation entre le LotFrontage et le LotArea
6) De la même manière, affinez votre visualisation en ne gardant uniquement les maisons
qui ont un LotFrontage inférieur à 200 pieds carrés et un LotArea inférieur à 100000
pieds carré
```

In [ ]:
!pip install pandas numpy seaborn matplotlib

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [20]:
# pd.read_csv("C:\Users\33769\Documents\M1 DEV\Python\house_pricing.csv")

url = ("./house_pricing.csv")

# url2 = ("C:\Users\33769\Documents\M1 DEV\Python\house_pricing.csv")

data = pd.read_csv(url)

data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [19]:
import seaborn
import pandas
import matplotlib.pyplot as plt
 
csv = pandas.read_csv(r'C:\Users\33769\Documents\M1 DEV\Python\house_pricing.csv')
res = seaborn.scatterplot(x="Name", y="Age", data=csv)
plt.show()

FileNotFoundError: ignored

## Visualisation de relations continues

## Visualisation de variables catégoriques

## Visualisation d’une distribution

## Visualisation d’une relation linéaire

## Formaliser des KPI